name: PHPStan

on:
  push:
    branches:
      - main

jobs:
  phpstan:
    name: phpstan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v2

      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github

  release:
    name: release
    runs-on: ubuntu-latest
    needs: [phpstan]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: buckhamduffy/release-drafter@v1
        with:
          master_branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
